@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;1,700&display=swap');

h1, h2, h3, h4, h5, h6, a, button, p, li {
  font-family: 'Cormorant Infant', serif;
}

section {
  border: 1px solid black;
  width: 27vw;
  height: 65vh;
  border-width: 15px;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.triangle {
  position: relative;
  height: 0;
  border-right: 10vw solid transparent;
  border-left: 10vw solid transparent;
  width: 0;
  margin-left: auto;
  margin-right: auto;

}

.triangle1 {
  border-top: 15vw solid #bd987e;
  opacity: .4;
  top: 8vh;
}

.triangle2 {
  border-top: 15vw solid #c8c1b1;
  bottom: 11vh;
  opacity: 0.6;
  bottom: 11.5vh;
}


.triangle3 {
  border-top: 15vw solid #929da3;
  bottom: 20vh;
  opacity: .7;
  bottom: 31.5vh;
}

.triangle4 {
  border-top: 15vw solid #d2d9db;
  bottom: 29vh;  
  opacity: 0.8;
  bottom: 51vh;
}


.form-link {
  text-align: center;
  margin-top: 6vh;
}


.form-link-btn {
  text-decoration: none;
  color: black;
  border: 7px solid;
  padding: 10px;
  font-weight: bolder;
}